.heading
{
    text-align: center;
    background-color: darkolivegreen;
}
body {
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;



}


h2 {
    margin: 10px;
    background-color:lightseagreen;
}

img {
    width: 200px;
    height:200px;
    border-radius: 50%;
}
p{
    font-size: large;
}


